<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Успішність групи</title>
</head>
<body>
    <header>
        <h1>Успішність групи</h1>
    </header>

    <main>
        <table>
            <thead>
                <tr>
                    <th>Ім'я студента</th>
                    <th>Предмет і Оцінка</th>
                    <th>Дії</th>
                </tr>
            </thead>
            <tbody>
                <% students.forEach(student => { %>
                    <tr>
                        <td><%= student.firstName %> <%= student.lastName %></td>
                        <td>
                            <% if (student.subject && student.subject.subjectName) { %>
                                <div class="subject-info">
                                    <p>Предмет: <%= student.subject.subjectName %>, Оцінка: 
                                        <span class="<%= student.subject.grade < 50 ? 'low-grade' : '' %>">
                                            <%= student.subject.grade != null ? student.subject.grade : 'Немає оцінки' %>
                                        </span>
                                    </p>
                                </div>
                            <% } %>

                            <% if (!student.subject || !student.subject.subjectName) { %>
                                <!-- Форма для добавления предмета и оценки, отображается если предмет еще не добавлен -->
                                <form class="inline-form" action="/add-grade/<%= student._id %>?role=<%= role %>&username=<%= username %>" method="POST">
                                    <input type="text" id="subjectName" name="subjectName" placeholder="Назва предмета" maxlength="40" />
                                    <input type="number" name="grade" placeholder="Додати оцінку" min="0" max="100" required>
                                    <button type="submit" class="btn-add-small">Додати предмет і оцінку</button>
                                </form>
                            <% } else { %>
                                <!-- Кнопка удаления предмета и оценки, отображается если предмет уже добавлен -->
                                <form action="/delete-subject/<%= student._id %>?role=<%= role %>&username=<%= username %>" method="POST">
                                    <button type="submit" class="btn-delete">Видалити предмет і оцінку</button>
                                </form>
                            <% } %>
                        </td>
                        <td>
                            <form action="/delete-student/<%= student._id %>?role=<%= role %>&username=<%= username %>" method="POST">
                                <button type="submit" class="btn-delete">Видалити студента</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </main>

    <footer>
        <p>Система обліку успішності студентів</p>
    </footer>
</body>
</html>
